// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/assets/bootstrap5/_variables.scss, paste it here and edit the value.

$orange: #f13e02; // Thats a sample how you could change a BootStrap variable.
$primary: $orange; // Once we've changed the value, we'll also make it the primary brand color.

$white: #f1eff6;

$navbar-light-color: $primary;
$btn-border-radius: 0 0.25rem 0.25rem 0;
$input-border-radius: 0.25rem 0 0 0.25rem;


:root {
    --bs-body-bg: #9a98ab;
  }

body {
    background-color: #9a98ab !important;
}